<div class="navbar navbar-lewagon">
<div class="navbar-left">
    <%= link_to "Simple AirBnb", flats_path %>
</div>
<div class="navbar-right d-flex">
<%= form_tag flats_path, method: :post, class: "form_inline" do %>
    <%= text_field_tag :query, "", placeholder: "Search..." %>
    <%= submit_tag "Search", class: "btn btn-outline-success ml-2" %>
<% end %>
<%= link_to "Add Flat", new_flat_path, class: "btn btn-outline-primary ml-2" %>
</div>
</div>